<%- include('../partials/header') %>

<h1>Add a Ticket</h1>
    <form action="/flights/<%= flightId %>/tickets" method="POST">
        <label>Seat Number:
            <input type="text" name="seat">
        </label><br>
        <label>Price:
            <input type="text" name="price">
        </label><br>
        <input type="submit" value="Add Ticket">
    </form>

<%- include('../partials/footer') %>