<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="homeDiv">
      <a href="/">Home</a> | <a href="/flights/add">Add a Flight</a> | <a href="/flights">Flight List</a>
      <h1><%= title %></h1>
      <p id="welcmLine">Welcome to <%= title %></p>
      <img id="mgoo" src="https://i.imgur.com/Hf8AAjo.jpg" alt="Mongoose">
      <div id="tagDiv"><p id="tagline">Faster than Serpent Skies</p></div>
      <a class="homeLinks" href="flights/add">Add a Flight</a>
      <a class="homeLinks" href="/flights">Flight List</a>
    </div>
  </body>
</html>
