<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a> | <a href="/flights/add">Add a Flight</a> | <a href="/flights">Flight List</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://i.imgur.com/Hf8AAjo.jpg" alt="Mongoose">
    <p>Faster than Serpent Skies</p>
    <a href="flights/add">Add a Flight</a>
    <a href="/flights">Flight List</a>
  </body>
</html>
